
.calendar-container table {
	border-spacing: 0;
	table-layout: fixed;
	width:100%;
}

.calendar-container td {
	height:60px;
}
.calendar-container {
	position:relative;
	margin-top: 10px;
}

.calendar-container .time-span-cell {
	width:7%;
}

.calendar-container .event-table {
	position: absolute;
}

.calendar-container .time-span {
	margin-top:-40px;
	padding-right: 10px;
}

.calendar-container .event-cell {
	border-top:1px solid ;
	background: #F2F1F0;
	width:80%;
}

.calendar-container .event-cell:first-child {
	border-top: #000;
}

.calendar-container .event-overlay {
	opacity: 0.6;
	z-index: 100;
	position: absolute;
	height: 1450px;
	width: 92%;
	left:8%;
}
.calendar-container .event{
	width:100%;
	background: #00e5ee;
	border:1px dashed black;
	position: absolute;
}